version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/final_model.pkl:/app/final_model.pkl:ro
      - ./dataset:/app/dataset
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
  mlflow:
    image: mlfloworg/mlflow:latest
    ports:
      - "5000:5000"
  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
