apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "agri-backend"
        metrics_path: /metrics
        static_configs:
          - targets: ["agri-backend-svc:8000"]
